<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Weback Example</title>
    <meta charset="UTF-8" />
    <style>
      body {
        margin: 0;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
